{% load static %}

<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/edit.css' %}">
</head>


<body>
  <div class="app-title">
    <h1>CA美原's</h1>
  </div>

  <div class="air">
  </div>
  
    <div class="mainpage">
      {% block content %}
      {% endblock %}
    </div>
  

</body>