{% extends './base.html' %}

{% block content %}

{% for post in user_profile %}
  <h1>{{post.name}}さん、こんにちは！！</h1>
{% endfor %}
<div class="air2">

</div>

<!-- 先生用のページの表示 -->
{% if request.user.username == "camiharakou1" or "camiharakou2" or "camiharakou3" or "camiharakou2" %}

  <!-- トップバーの開始 -->
  <div class="navies">  
    <nav>
      <ul>
        <li><a href="https://codeadventure.jp/lp/mihara/">CA美原 公式HP</a></li>
        <li><a href="https://www.c-streaming.net/v5/e-learning/user/login.php?kaisha_id=YJN1VaqVBFM%3D">CA学習サイト</a></li>
        <li><a href="https://dreamersg.com/wiki/index.php/%E3%81%AF%E3%81%98%E3%82%81%E3%81%AB/%E7%9B%AE%E6%AC%A1">ドリル教材 答え</a></li>
        <li><a href="https://docs.google.com/presentation/d/1NXKj9_ttR9rL25jKU5o910g9rS4mLCZkRW768TNNihA/edit#slide=id.ge12582ff05_0_20">授業運営マニュアル</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1MSj7Raggse1E7b2f1gQyJ89gKkZhiMBV7DrVFppjq6g/edit#gid=748004516">CA美原スプシ</a></li>
      </ul>
    </nav>
  </div>

  <form method="get" action="{% url 'post_list' %}">
    <label>生徒名(漢字orカタカナ)か学校名を入れて検索:</label><br>
    <input type="text" name="q" value="{{ search_query | default:''}}">
    <input type="submit" value="検索">
  </form>

  <form method="get" action="{% url 'post_list' %}">
    <label>通塾時間で絞り込み:</label><br>
    <select name="studyday_type_filter">
      <option value="">home</option>  <!-- フィルターを解除するためのオプション -->
      {% for choice in studyday_type_choices %}
        <option value="{{ choice.0 }}" {% if choice.0 == selected_studyday_type %}selected{% endif %}>
          {{ choice.1 }}
        </option>
      {% endfor %}
    </select>
    <input type="submit" value="絞り込み！">
  </form>


  {% if error %}
    <div class="errorMessage">{{error | safe}}</div>
  {% endif%}

  <div class="post-container-wrapper">
  {% for post in posts %}
    
    <div class='post-container'>
      <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">記録する<br><span class="glyphicon glyphicon-pencil"></span></a>
        <p>published: {{ post.published_date }}</p>
        {% if post.images %}
          <p><img src="{{ post.images.url }}"height="200px" width="auto"></p>
        {% endif %}
        <h2 class="post-name"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.name }}</a></h2>
        <p class="post-school">{{ post.school }}</p>
        <p class="post-school">{{ post.school_year }}</p>
        <p class="post-studyday-type">{{ post.studyday_type }}</p>
        <p class="comment-stage">{{comment}}</p>
        {% for comment in comments %}
          {% if comment.post_id == post.id %}
            <!-- 一週間前までのコメントは表示されるようにした -->
            {% if comment.published_date > current_time %}
              <div class="until-week-comment">
                {{comment.published_date}}
                <p class="comment-stage">{{comment.stage}}</p>
              <h2>{{comment}}</h2>
              <h3>{{comment.author}}</h3>
              <br>

              <!-- 削除ボタンを追加 -->
              <form method="post" action="{% url 'comment_delete' comment.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">削除</button>
              </form>
              </div>

              {% if comment.savepoint == "save" %}
                <p class="highlight">ステージが保存されています!</p>
              {% endif %}
            {% else %}
              
            {% endif %}

          {% endif %}
        {% endfor %}
      
    </div>

  {% endfor %}
  </div>

<!-- 生徒用のページ -->

{% else %}

  {% for post in user_profile %}
  <div class='post-container_for_student'>
    <a class="btn btn-default" href="{% url 'change_day' pk=post.pk %}">通塾時間を変更する。<br><span class="glyphicon glyphicon-pencil"></span></a>
      <div class="air2">

      </div>
      {% if post.images %}
        <p><img src="{{ post.images.url }}"height="200px" width="auto"></p>
      {% endif %}
      <h2 class="post-name">{{ post.name }}</h2>
      <p class="post-school">{{ post.school }}</p>
      <p class="post-studyday-type">{{ post.studyday_type }}</p>
    
  </div>
  {% endfor %}

{% endif %}

<p> ログアウトは
  <a href="{% url 'Logout' %}">こちら</a>
</p>

{% endblock %}
