{% extends './base.html' %}

{% block content %}
  <div class='post-container'>
    {% if post.published_date %}
      <div>
        {{ post.published_date }}
      </div>
    {% endif %}
    {% if post.images %}
        <p><img src="{{ post.images.url }}"height="200px" width="auto"></p>
    {% endif %}
    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <h2 class="post-name">{{ post.name }}</h2>
    ↓最新のコメント↓
    <p>{{ post.comment|linebreaksbr }}</p>
  </div>
{% endblock %}