.navies nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(183, 254, 112);
  padding-top: 5px;
  box-sizing: border-box;
}

.navies ul {
  display: flex;
  justify-content: space-around; /* 要素を均等に配置 */
  padding: 0; /* リストの内側の余白を削除 */
}

.navies li {
  list-style: none;
  padding: 10px 0; /* 上下の余白を追加 */
  flex: 1; /* 要素を均等に広げる */
  text-align: center; /* テキストを中央に配置 */
  transition: transform 0.3s; /* マウスオーバー時のアニメーション */
  box-shadow: 0 0 0 5px #128b05; /* ボーダーの代わりにボックスシャドウを追加 */
  margin: 0 5px; /* 要素間の外側の余白を追加 */
  flex-basis: calc(20% - 10px); /* 固定の幅を指定（要素間の余白を考慮） */
}

/* モバイル用のスタイル */
@media (max-width: 1000px) {
  .navies {
    height: auto; /* ナビゲーションバーの高さを自動調整 */
    padding-top: 0; /* 不要な上部の余白を削除 */
  }

  .navies ul {
    align-items: center; /* メニュー項目を中央に配置 */
  }

  .navies li {
    padding: 5px 0; /* 上下の余白を小さくする */
    border: none; /* ボーダーを削除 */
    margin: 5px 0; /* 要素間の余白を追加 */
  }

  .navies a {
    font-size: 9px; /* 文字サイズを小さくする */
  }
}



.navies li:first-child {
  margin-left: 0; /* 最初の要素の左側の余白を削除 */
}

.navies li:last-child {
  margin-right: 0; /* 最後の要素の右側の余白を削除 */
}

.navies a {
  display: block;
  text-decoration: none;
  color: rgb(8, 19, 93);
  font-size: 12px;

}

.navies li:hover {
  transform: scale(1.1); /* マウスオーバー時に要素を拡大 */
}

.navies a:hover {
  color: rgb(121, 159, 190);
}
